<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cskaoyan.smzdm.mapper.MessageMapper" >
    <resultMap id="BaseResultMap" type="com.cskaoyan.smzdm.bean.vo.MessageVO">

      <association property="message" javaType="com.cskaoyan.smzdm.bean.Message">
          <id column="id" property="id"/>
          <result column="to_name" property="toName"/>
          <result column="context" property="context"/>
      </association>

      <association property="user" javaType="com.cskaoyan.smzdm.bean.User">
          <id column="id" property="id"/>
          <result column="name" property="name"/>
          <result column="password" property="password"/>
          <result column="head_url" property="headUrl"/>
      </association>

    </resultMap>

    <sql id="baseSql">
        id, to_name, context, user_id
    </sql>

    <insert id="insertMessage">
        insert into message (<include refid="baseSql"/>) values(replace(uuid(),'-',''),#{message.toName},#{message.context},#{user.id});
    </insert>

    <sql id="join">
        m.id, m.to_name, m.context, m.user_id,
        u.id, u.`name`, u.password, u.head_url
        from message m left join users u on m.user_id = u.id;
    </sql>

    <select id="selectAllMessageVO" resultMap="BaseResultMap">
        select m.id, m.to_name, m.context, m.user_id,
        u.id, u.`name`, u.password, u.head_url
        from message m left join users u on m.user_id = u.id;
    </select>

</mapper>